<div class="col-md-8 col-md-offset-2">
  <%- model_class = Course -%>
  <div class="page-header">
    <div class="well">
      <h1 class="text-center"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
    </div>
  </div>
  <%= render :partial => 'form' %>
</div>