<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Fee</th>
      <th>Duration</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course_path(course) %></td>
        <td><%= course.course_fee %></td>
        <td><%= course.course_duration %> Months</td>
        <td><%= course.course_details.html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>
